<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="PHP_CodeSniffer">
  <description>PHP_CodeSniffer configuration</description>
  <rule ref="PSR12">
    <exclude name="Generic.WhiteSpace.DisallowTabIndent"/>
    <exclude name="PSR12.Operators.OperatorSpacing"/>
  </rule>
</ruleset>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- the files included in the clover report -->
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>
</phpunit>